.staticLabel {
  display: block;
  box-sizing: border-box;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  height: 50px;
  padding: 14px 16px;
  border-color: transparent;
  margin: 13px 0;
  font-weight: 400;
  color: #ababab;
}

@media (max-width: 500px) {
  .staticLabel {
    font-size: x-small;
    height: 30px;
    padding: 10px 10px;
  }
}
