h1.heading {
  font-weight: 500;
}

h2.subheading {
  font-weight: lighter;
}

.done {
  background-image: url(/src/assets/images/setupDone.png);
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  height: 60px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 800px) {
  .heading {
    font-size: 1.8em;
  }
  .subheading {
    font-size: 0.8em;
  }
}

@media (max-width: 500px) {
  .heading {
    font-size: 1em;
  }
  .subheading {
    font-size: 0.7em;
  }
  .done {
    height: 45px;
    width: 45px;
  }
}
